div{
    background-color: Grey;
    border: 25px solid cornsilk;
    border-width: 10px;

}
body{
    background-image: url("image/image 1.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right:20px;
    background-attachment: fixed;
    background-color: lightblue;

}
img {
    height: 20px;
    width: 20px;
    display: block;
    margin: 0 auto;
}

h1{
    color: aqua;
    font-size: 15px;
    text-align: center;

}
h6{
    color: green;
    font-size: 25px;
}
p{
    font-size: 15px;
    background-color: deepskyblue;
}